body {
  background-color: #F3EEE2;
    
}
header {
    color: #262322;
}
.form-floating {
    background-color: #F3EEE2;
    border-radius: 25px;
}
.btn-outline-info {
    color: #262322;
    border-color: #262322;
}

.btn-outline-info:hover {
    background-color: #262322;
    color: #F3EEE2;
}

.form-control, .form-select {
    background-color: #F3EEE2;
    color: #262322;
}
