body {
  background-color: #000000;
    
}
header {
    color: white;
}
.form-floating {
    background-color: white;
    border-radius: 25px;
}
.btn-outline-info {
    color: white;
    border-color: white;
}

.btn-outline-info:hover {
    background-color: white;
    color: #262322;
}

.form-control, .form-select {
    background-color: white;
    color: #262322;
}
